#heading {
	color: #FFA500;
	text-align: center;
}
#gc {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: "400";
    height: "400";
}
