$def with (apiKey)
<html>
<head>
    <script src="https://cdn.ably.io/lib/ably.min.js" type="text/javascript"></script>
</head>
<body>
<h1>Publish & Subscribe sample</h1>
</body>
<script type="text/javascript">
    /* Set up a Realtime client which will subscribe to 'sport' channel*/
    var realtime = new Ably.Realtime('$apiKey');
    var channel = realtime.channels.get("sport");
    channel.subscribe(function (msg) {
        alert("Received: " + JSON.stringify(msg.data));
    });
</script>
</html>
